* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 80% 20%;
    background-color: #f1f1f1;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.search{
    width: 100%;
    height: 60px;
    background-color: white;
}

#map{
    width: 100%;
    height: 100%;
    border: none;
}

.searchbar{
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px;
}

.route-card{
    width: 100%;
    background-color: white;
    height: 100px;
    margin: 4px;
    padding: 10px;
    border-radius: 5px;
}

.route-card-selected{
    width: 100%;
    background-color: white;
    height: 100px;
    margin: 4px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid green;
}

#handle{
    transform: rotate(90deg);
}

.toggle{
    border: none;
    width: 20px;
}

.sidebar{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}