* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: white;
}

p{
    font-size: 12px;
}

button{
    cursor: pointer;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.search-container{
    position: absolute;
    z-index: 5;
    top: 5px;
    left: 5px;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar{
    height: 100vh;
    width: 25%;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: width .10s ease-in-out;
    padding: 0 1rem;
}

.address-search{
    width: 100%;
    height: auto;
    background-color: #262626;
    display: flex;
    flex-direction: row;
    padding: .5rem;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.directions-graphic{
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchbars{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 4px;
}

.searchbox{
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 6px;
    background-color: #333333
}

.search-button {
    border: none;
    background-color: #333333
}

#map{
    width: 100%;
    height: 100%;
    position: relative;
}

#rec-list{
    width: 100%;
    height: auto;
    background-color: #262626;
    padding: .5rem;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.route-rec-card{
    background-color: #333333;
    box-shadow: 0px 0px 3px 0px #111;
    border-radius: 2px;
    padding: 10px;
}

.rec-header{
    display: grid;
    grid-template-columns: 8% 76% 16%;
    align-items: center;
    margin-bottom: 4px;
}

.hidden {
    display: none;
}

.searchbar{
    width: 100%;
    height: 30px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #333333
}

.single #origin-search{
    display: none;
}

.single .directions-graphic{
    display: none;
}

.single #destination-search{
    border: none;
}

.header{
    width: 100%;
    margin: 20px 0;
    justify-items: start;
    
}

.toggle-sidebar{ 
    border: none;
    background: none;
    width: auto;
    justify-self: start;
}

.route-card{
    width: 100%;
    background-color: #333333;
    height: fit-content;
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 3px 0px #111;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.selected {
    border-left: solid 5px #00853E;
    border-radius: 2px;
}

.selected .timepoint-list{
    display: block;
}

.timepoint-list{
    display: none;
    width: 100%;
    border-top: 1px solid #4d4d4d;
    margin-top: 4px;
    justify-items: start;
}

.timepoint-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin-left: 8px;
}

.timepoint-num{
    width: 15px;
    height: 15px;
}

.content{
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
    text-align: left;
}

.route-id{
    color: white;
    border-radius: 2px;
    padding: 3px;
    width: fit-content;
    font-size: 10px;
    margin-top: 2px;
    margin-bottom: 4px;
}

.route-name{
    margin-bottom: 6px;
}

.time-container{
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    width: 100%;
}

.text-container{
    width: 100%;
}

.next-stop{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

#route-list{
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin-top: 6px;
    gap: 10px;
    margin-bottom: 10px;
}

.sidebar-search{
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: #333333
}

.inactive{
    display: none;
}

#toggle-inactive{
    background-color: #00853E;
    color: white;
    border: none;
    height: 30px;
    border-radius: 2px;
    width: 100%;
}

.pac-container{
    background-color: #333333;
}

.pac-item-query{
    color: white;
}


